extends layouts/main

block content 
    .form-container
        form(action=`/videos${routes.upload}`, method="post",  enctype="multipart/form-data")
            div.fileUpload
                label(for="file") ビデオファイル
                input(type="file", id="file", name="videoFile", required=true, accept="video/*")
                input(type="text", placeholder="タイトル", name="title", required=true)
            textarea(name="description", placeholder="説明", required=true)
            input(type="submit", value="アップロード")
